section#aboutUs {
   /* background-color: rgb(136, 84, 15); */
   display: flex;
   width: 100%;
   margin-top: 5%;
   
 }

 section h2 {
font-family: serif;
text-align: center;
color: coral;

 }
section img {
   opacity: 0.3;
}

#p{
   color: black;
   font-weight: 600;
   font-family: Bradley Hand, cursive;
}

#row {
   width: 60%;
   margin: auto;
}

