nav img.circle {
  height: 55px;
  width: 55px;
  padding: 0;
  margin: 4px;
}
nav .brand-logo{
  font-size: 1.9rem;
}
#aboutUs {
  overflow: auto;
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
#title {
  font-size: 50px;
  font-family: serif;
  text-align: center;
  color: coral;
  margin-bottom: 60px;
}
section img {
  opacity: 0.3;
}
#card {
  font-size: 20px;
}
.row {
  margin: auto;
  height: auto;
}
/* Footer Section */
footer {
  text-align: center;
  padding: 25px;
}
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }
}