/* #main-contain {
  margin-top: 0.5rem;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow:hidden; */
  background-color: black;
}
section#animate{
  height:90%;
  width:100%;
    position:absolute ;  background:radial-gradient(#333,#000);
    /* margin-bottom: -65px; */
  }
.leaf{
  position:absolute ;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.leaf div{
position:absolute ;
display:block ;
}
.leaf div:nth-child(1){
  left:20%; 
  animation:fall 15s linear infinite ;
  animation-delay:-2s;

}
.leaf div:nth-child(2){
  left:70%; 
  animation:fall 15s linear infinite ;
  animation-delay:-4s;
}
.leaf div:nth-child(3){
  left:10%; 
  animation:fall 20s linear infinite ;
  animation-delay:-7s;
  
}
.leaf div:nth-child(4){
  left:50%; 
 animation:fall 18s linear infinite ; 
 animation-delay:-1s;
}
.leaf div:nth-child(5){
  left:85%; 
  animation:fall 14s linear infinite ;
  animation-delay:-1s;
}
.leaf div:nth-child(6){
  left:15%; 
  animation:fall 16s linear infinite ;
  animation-delay:-1s;
}
.leaf div:nth-child(7){
  left:90%; 
  animation:fall 15s linear infinite ;
  animation-delay:-1s;
}

@keyframes fall{
  0%{
      opacity:1;
      top:0%;
      transform:translateX (20px) rotate(0deg);
  }
  20%{
      opacity:0.8;
      transform:translateX (-20px) rotate(45deg);
  }
  40%{

      transform:translateX (-20px) rotate(90deg);
  }
  60%{
      
     transform:translateX (-20px) rotate(135deg); 
  }
  80%{
  
      transform:translateX (-20px) rotate(180deg);
  }
  90%{
      
      top:90%;
      transform:translateX (-20px) rotate(225deg);
  }
  }
.leaf1{
  transform: rotateX(180deg);
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -65px;
}

#answer-column {
  padding-top: 1.5rem;
}

#question-display {
  font-size: 36px;
}
.answer,
.clickers,
.category-btn,
.team-choice,
#play-btn,
#mark-map {
  border-style: solid;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0px 5px 0px black;
  transition: all ease 0.1s;
}

.category-btn {
  padding-top: 1.66rem;
  /* font-size: 1rem; */
  padding-bottom: 1.66rem;
}

#cat-setting,
#squad-setting {
  color: red;
}

.answer:hover {
  background-color: dodgerblue;
  color: white;
  border: solid black;
}

.answer:active,
.clickers:active,
.category-btn:active,
.team-choice:active,
#play-btn:active,
#mark-map:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 3px black;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#clicker-area {
  padding-top: 4rem;
}
/* .clicker-column {
  margin-left: 10%;
  margin-right: 10%;
} */
.clickers {
  color: white;
  border: solid black;
}

#clickerSpan {
  border: solid black;
  border-radius: 33%;
  padding: 0.5rem;
}

#overlay-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}
#game-over {
  position: absolute;
  border: solid black;
  top: 5%;
  left: 16.665%;
  width: 66.66%;
  height: 90%;
  display: block;
  text-align: center;
  z-index: 2;
  background-color: white;
}

.mapSquare {
  background-color: blue;
  justify-content: center;
  height: 100px;
  color: white;
  width: 100%;
  border: solid black;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0px 5px 0px black;
  transition: all ease 0.1s;
}

.mapSquare:active {
  transform: translateY(3px);
  box-shadow: 0px 2px 3px black;
}

.mapSquare:hover {
  background-color: white;
  color: black;
}

footer {
  text-align: center;
  padding: 25px;
  height: 65px;
}

/* #mark-map */
/* .blob {
	background: black;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
} */
