html, body {
   height: 100%;
   margin: 0;
 }
 nav img.circle {
  height: 55px;
  width: 55px;
  padding: 0;
  margin: 4px;
}
nav .brand-logo{
  font-size: 1.9rem;
}
.file-field .btn, .file-field .btn-large, .file-field .btn-small{
   float: none;
margin:auto;
}
.wrapper{
   height: 100%;
   margin: 0;
   margin-bottom: -60px;
 }
 footer{
   text-align: center;
   padding: 20px;
   height: 60px;
 }