html, body {
   height: 100%;
   margin: 0;
 }
 nav img.circle {
   height: 55px;
   width: 55px;
   padding: 0;
   margin: 4px;
}
.wrapper{
   height: 100%;
   margin: 0;
   margin-bottom: -60px;
 }
 h2 {
    text-align: center;
 }
 .color-change {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   animation: 2500ms ease-in-out infinite color-change;
 }
 @keyframes color-change {
   0% {
     color: orange;
   }
   20% {
     color: yellowgreen;
   }
   40% {
     color: rgb(0, 102, 255);
   }
   60% {
     color: purple;
   }
   70% {
     color: violet;
   }
   80% {
     color: red;
   }
   100% {
     color: orange;
   }
 }
/* Footer Section */
footer{
   text-align: center;
   padding: 25px;
   height: 60px;
}